<!-- include header-->

<%- include('include/__header')%>

    <!-- /include header-->

    <!-- Hero section -->
    <main id="site-main">
        <div class="container">
            <div class='box-nav d-flex-justify-between'>
                <div class="filter">
                    <a href="/"><i class="fas fa-arrow-left"></i>All users</a>
                </div>
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark">New User</h2>
                <span class="text-light">Use the below form to create a nwe account</span>

            </div>

            <!-- Adding User Form-->

            <%- include('include/__add_user_form')%>

        </div>
    </main>
    <!-- /Hero section -->


    <!-- include footer-->

    <%- include('include/__footer')%>

        <!-- /include footer-->