<form action="/login" method='POST' id='login_user'>
    <div class="login_user">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="text" name="username" value="" placeholder="Enter Your User Name">
        </div>
        <div class="form-group">
            <label for="password" class="text-light">password</label>
            <input type="password" name="password" value="" placeholder="Enter your passowrd">
        </div>
        <div class="form-group">
            <button type='submit' class='btn text-dark update'>Submit</button>
        </div>
    </div>
</form>